*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--primary-font);
    font-style: normal;

    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--grayish-blue);
    
    padding-inline: 3.2rem;
    padding-block-start: 7.2rem;
    padding-block-end: 6.2rem;

    @media screen and (min-width: 768px) {
        padding-block-start: 16.3rem;
    }
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

img,
source {
    display: block;
    max-width: 100%;
}